.form-container {
  display: flex;
  justify-content: center;
}
h1 {
  text-align: center;
  background-color: darkcyan;
}
label {
  font-weight: bolder;
}
.toaster_message {
  background-color: palegreen;
}
