<h1>Please enter your details</h1>
<div class="form-container">
    <form [formGroup]="userDetails" (ngSubmit)="onSubmit()" class="form">
        <div>
            <label>Title</label>
            <br>
            <input type="text" id="title" class="form-control" formControlName="title">
        </div>
        <br><br>
        
        <div>
            <label>URL</label>
            <br>
            <input type="file" id="url" class="form-control" formControlName="url" accept="image/jpeg,image/png,image/jpg,image/JPG,image/JPEG">
        </div>
        <br><br>

        <div>
            <label>Thumbnail Url</label>
            <br>
            <input type="file" id="thumb_url" class="form-control" formControlName="thumb_url" accept="image/jpeg,image/png,image/jpg,image/JPG,image/JPEG">
        </div>
        <br><br>

        <button type="submit" >Submit</button>
        <br><br>
        <span *ngIf="counter" class="toaster_message"> Data sent to API. Check Console!
            <button (click)="close_toaster()">x</button>
        </span>
        <br><br>
        <a routerLink="/viewDetailsAll" >View All Users </a>
        
    </form>
</div>
